.message {
    padding-top: 34px;

}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    padding-right: 70px;
}

.imageAndText img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.text {
    position: relative;

    max-width: 527px;
    height: 20%;
    background-color: #0066CC;
    margin-right: 14px;
    border-radius: 10px 10px 0px 10px;


}

.trianglebottomleft {
    position: absolute;
    display: inline-block;
    width: 0;
    right: -14px;
    bottom: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 0 15px;
    border-color: transparent transparent transparent #0066CC;
}


.name {
    color: #FFFFFF;
    font-size: 18px;
    text-align: right;
    padding-right: 14px;
    padding-top: 7px;
}

.messageText {
    color: #FFFFFF;
    display: inline;
    padding: 3px 14px 8px 13px;
    font-size: 16px;
    word-wrap: break-word;


}

.time {
    text-align: right;
    padding-right: 81px;
    font-size: 10px;
    padding-top: 5px;
    color: #000000;
}