.sidebar {
}

.sidebar.open {
}

.background {
}

.nav {
    color: blue;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-top: 63px;
}

.nav a {
    margin-bottom: 45px;
}

.nav a:hover {
}

.nav a.active {
    color: red;
}
.close {
}

.close img {
}
