.item {


}

.item:last-of-type {
}

.users {
}

.buttonsContainer {
    display: flex;
    justify-content: end;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
max-width: 606px;

}

.thead {
    background-color: #e5e5e5;
    height: 36px;

}

.nameCol {

}

.ageCol {

}

.tbody {


}