.spanBlock {
    display: flex;
    color: #0080FF;
}

.span {
   padding-left: 10px;
    font-size:16px;

}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size:16px;
}

.pen {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}