.sendForm {
padding-top: 81px;
    display: flex;
    justify-content: space-between;

}

.textarea {
margin-right: 44px;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 24px;
    width: 70%;
    border-radius: 20px;
    background-color: #F5F7FB;
    border: none;
}

.button {
margin-right: 70px;
    width: 120px;
    background-color: #0066CC;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
}

.button:hover {

}
.button:active {

}
