.button {
    width: 132px;
    height: 50px;
    font-size: 14px;
}

.disabled {
    background-color: gray;
}
.secondary {
    background-color: red;
}

.default {
    background-color: #0066CC;
}

.red {

    background-color: red;
    height: 100px;
    color: red;
}

.default:hover {
}

.red:hover {
    background-color: red;
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
    color: red;
}

.button:disabled {
    background-color: #0066CC;
    opacity: 0.5;
    color: #002E5C;
}
